body {
  text-align: center;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

h1 {
  font-size: 1.5em;
  padding: 20px;
  border-bottom: 1px solid #eeeeee;
  margin: 0 0 30px 0;
  color: #333333;
}

/* rows */
.row {
  text-align: center;
  display: flex;
  justify-content: center;
}

/* squares inside rows */
.row > div {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #bbbbbb;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
  transition: all 0.2s ease-in-out;
}

/* color squares */
.row > div.green {
  /* define these variables! */
  --background: #5ac85a;
  --border-color: #5ac85a;
  animation: flip 0.5s ease forwards;
}

.row > div.grey {
  --background: #a1a1a1;
  --border-color: #a1a1a1;
  animation: flip 0.5s ease forwards;
}

.row > div.yellow {
  --background: #e2cc68;
  --border-color: #e2cc68;
  animation: flip 0.5s ease forwards;
}

/* delaying animation for each letter in a row */
.row > div:nth-child(2) {
  animation-delay: 0.2s;
}

.row > div:nth-child(3) {
  animation-delay: 0.4s;
}

.row > div:nth-child(4) {
  animation-delay: 0.6s;
}

.row > div:nth-child(5) {
  animation-delay: 0.8s;
}

.row.current > div.filled {
  animation: bounce 0.1s ease-in-out forwards; /* applying the bounce animation */
}

.keypad {
  max-width: 500px;
  margin: 20px auto;
}

/* each key */
.keyrow > button {
  margin: 5px;
  width: 40px;
  height: 50px;
  background: #eeeeee;
  display: inline-block;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.keyrow > button:hover {
  transform: scale(1.1);
}

/* each key on getting a color class */
.keyrow > button.green {
  background: #5ac85a;
  color: #fff;
  transition: all 0.3s ease-in;
}

.keyrow > button.green:hover {
  background: #90d490;
}

.keyrow > button.yellow {
  background: #e2cc68;
  color: #fff;
  transition: all 0.3s ease-in;
}

.keyrow > button.yellow:hover {
  background: #e4d7a0;
}

.keyrow > button.grey {
  background: #a1a1a1;
  color: #fff;
  transition: all 0.3s ease-in;
}

.keyrow > button.grey:hover {
  background: #c9c9c9;
}

/* modal */
.modal {
  background: rgba(255, 255, 255, 0.876);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal div {
  max-width: 480px;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  margin: 10% auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.modal .solution {
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.modal .red {
  color: #ff004c;
}

.modal .green {
  color: #5ac85a;
}

.reset-button {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  font-family: 'Inter var', ui-sans-serif, system-ui, -apple-system, system-ui,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.reset-button:hover {
  background-color: rgb(249, 250, 251);
  transform: scale(1.1);
}

/* rotating effect on Enter */
@keyframes flip {
  0% {
    transform: rotateX(0);
    background: #ffffff;
    border-color: #333333;
  }
  45% {
    transform: rotateX(90deg);
    background: #ffffff;
    border-color: #333333;
    /* the above 2 properties ensure that we dont see color until 46% */
  }
  55% {
    transform: rotateX(90deg);
    background: var(--background);
    border-color: var(--border-color);
    color: #eeeeee;
  }
  100% {
    transform: rotateX(0%);
    background: var(--background);
    border-color: var(--border-color);
    color: #eeeeee;
  }
}

/* bouncing when we input */
@keyframes bounce {
  0% {
    transform: scale(1);
    border-color: #dddddd;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    border-color: #333333;
  }
}

@media only screen and (max-width: 600px) {
  .keyrow > button {
    width: 30px;
    height: 40px;
    margin: 4px;
    border-radius: 3px;
    font-size: 0.8rem;
  }

  .row > div {
    width: 50px;
    height: 50px;
    margin: 4px;
    line-height: 50px;
    font-size: 2em;
  }

  .modal div {
    max-width: 300px;
    padding: 20px;
    border-radius: 5px;
  }
}
