body {
  text-align: center;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

h1 {
  font-size: 1.5em;
  padding: 20px;
  border-bottom: 1px solid #eeeeee;
  margin: 0 0 30px 0;
  color: #333333;
}

/* rows */
.row {
  text-align: center;
  display: flex;
  justify-content: center;
}

/* squares inside rows */
.row > div {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #bbb;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
}

/* color squares */
.row > div.green {
  /* define these variables! */
  --background: #5ac85a;
  --border-color: #5ac85a;
  animation: flip 0.5s ease forwards;
}

.row > div.grey {
  --background: #a1a1a1;
  --border-color: #a1a1a1;
  animation: flip 0.5s ease forwards;
}

.row > div.yellow {
  --background: #e2cc68;
  --border-color: #e2cc68;
  animation: flip 0.5s ease forwards;
}

/* delaying animation for each letter in a row */
.row > div:nth-child(2) {
  animation-delay: 0.2s;
}

.row > div:nth-child(3) {
  animation-delay: 0.4s;
}

.row > div:nth-child(4) {
  animation-delay: 0.6s;
}

.row > div:nth-child(5) {
  animation-delay: 0.8s;
}

.row.current > div.filled {
  animation: bounce 0.1s ease-in-out forwards; /* applying the bounce animation */
}

.keypad {
  max-width: 500px;
  margin: 20px auto;
}

/* each key */
.keypad > div {
  margin: 5px;
  width: 40px;
  height: 50px;
  background: #eeeeee;
  display: inline-block;
  border-radius: 5px;
  text-transform: uppercase;
  line-height: 50px; /* text sits vertically in middle */
}

/* each key on getting a color class */
.keypad > div.green {
  background: #5ac85a;
  color: #fff;
  transition: all 0.3s ease-in;
}

.keypad > div.yellow {
  background: #e2cc68;
  color: #fff;
  transition: all 0.3s ease-in;
}

.keypad > div.grey {
  background: #a1a1a1;
  color: #fff;
  transition: all 0.3s ease-in;
}
/* rotating effect on Enter */
@keyframes flip {
  0% {
    transform: rotateX(0);
    background: #ffffff;
    border-color: #333333;
  }
  45% {
    transform: rotateX(90deg);
    background: #ffffff;
    border-color: #333333;
    /* the above 2 properties ensure that we dont see color until 46% */
  }
  55% {
    transform: rotateX(90deg);
    background: var(--background);
    border-color: var(--border-color);
    color: #eeeeee;
  }
  100% {
    transform: rotateX(0%);
    background: var(--background);
    border-color: var(--border-color);
    color: #eeeeee;
  }
}

/* bouncing when we input */
@keyframes bounce {
  0% {
    transform: scale(1);
    border-color: #dddddd;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    border-color: #333333;
  }
}
